.form {
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 2.5rem;
  color: #ff5471;
}

.sub-title {
  margin-bottom: 35px;
  font-size: 2rem;
  font-style: italic;
  color: #ffff;
}

.input {
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 1.1rem;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff2f;
  width: 400px;
  outline: none;
  padding-bottom: 10px;
}

.input::placeholder {
  color: #ffffff2f;
}

.button-form:hover {
  color: #ff5471;
}

.button-form {
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
  justify-content: flex-end;
  font-size: 1rem;
  color: #fff;
  background: none;
  border: none;
}

.buttons-container {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #b6b6b62f;
  cursor: pointer;
  border: none;
  width: 180px;
  height: 40px;
  border-radius: 8px;
  color: #ffff
}

.button {
  
}

.button:hover {
  background: #9191912f;
}

.button a {
  color: #e0e0e0;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .input {
    font-size: 1rem;
    width: 90vw;
  }
  .button {
    width: 40vw;
  }
  .buttons-container {
    width: 90vw;
  }
}

@media screen and (max-height: 534px) {
  .form {
    gap: 0px;
  }
  .title {
    font-size: 2rem;
  }
  .sub-title {
    margin-bottom: 5px;
    font-size: 1.5rem;
  }
  
  .input {
    font-size: 1rem;
    width: 90vw;
  }
  .button {
    width: 40vw;
  }
  .buttons-container {
    width: 90vw;
  }
}
