* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla";
  overflow-y: hidden;
}

/* Nav */

Nav {
  font-size: 1.2rem;
  width: 100vw;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffff;
  color: #535353;
}

Nav {
  border-bottom: 4px solid #CECECE;
}

.nav--title {
  font-weight: 700;
  margin-left: 7rem;
}

.nav--items{
  margin-right: 5rem;
  display: flex;
  gap: 3rem;
}

.nav--link{
  list-style: none;
}

.nav--link a{
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: #535353;
}

.nav--link a:hover {
  color: #000000;
}

.nav--link .active {
  color: #000000;
}

.hamburguer--icon {
  display: none;
  margin-right: 3rem;
  cursor: pointer;
}

.active-menu {
  flex-direction: column;
  display: flex;
  background: #ffff;
  height: 100%;
  width: 100%;
}

.mobile--menu__items {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu--links a{
  font-size: 2rem;
  display: flex;
  color: #535353;
  text-decoration: none;
}

.menu--links a:hover {
  color: #000000;
}

.menu--links .active {
  color: #000000;
}

.close--menu {
  margin: 2rem 2rem 0 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.close {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav--items {
    display: none;
  }
  .hamburguer--icon {
    display: flex;
  }
  
}

/* Header Page */

header {
  background: #EDEDED;
  width: 100%;
  height: 100vh;
}