* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla";
  overflow-y: hidden;
}

/* Nav */

Nav {
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #222222;
}

.nav--title {
  color: #e0e0e0;
  margin-right: 14rem;
  font-weight: 900;
  font-size: 1.5rem;
}

.nav--title a:hover {
  color: #FFFF;
  cursor: pointer;
}

.nav--items {
  margin-left: 5rem;
  display: flex;
  gap: 3rem;
}

.nav--link {
  list-style: none;
}

.nav--link a {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: #e0e0e0;
}

.nav--link a:hover {
  color: #FF5471;
}

.nav--link .active {
  color: #FF5471;
}

.hamburguer--icon {
  display: none;
  margin-right: 3rem;
  cursor: pointer;
}

@keyframes menu-toggle {
  from {
    margin-bottom: 120vh;
    display: none;
  }
  to {
    margin: 0;
    display: flex;
  }
}

.active-menu {
  animation-name: menu-toggle;
  animation-duration: 0.3s;
  justify-content: flex;
  align-items: flex-end;
  flex-direction: column;
  display: flex;
  background: #333333;
  height: 100%;
  width: 100%;
}

.mobile--menu__items {
  list-style: none;
  background: #333333;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu--links a {
  font-size: 2rem;
  display: flex;
  color: #e0e0e0;
  text-decoration: none;
}

.menu--links a:hover {
  color: #FF5471;
}

.menu--links .active {
  color: #FF5471;
}

.close--menu {
  margin: 2rem 2rem 0 0;
  cursor: pointer;
  display: flex;
  align-self: flex-end;
}

@keyframes menu-close {
  from {
    margin-bottom: 0rem;
    display: flex;
  }
  to {
    margin-bottom: 120vh;
    display: none;
  }
}

.close {
  margin-bottom: 110vh;
  animation-name: menu-close;
  animation-duration: 0.3s;
  background: #ffff;
  position: absolute;
}

/* Header Page */

header {
  background: #222222;
  width: 100%;
  height: 100vh;
}

.header--container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__section--title {
  color: #FF5471;
  font-weight: 900;
  font-size: 5rem;
  width: 25rem;
  margin-bottom: 0.3rem;
}

.section--subtitle {
  color: #e0e0e0;
  font-size: 1.9rem;
  width: 40rem;
  margin-bottom: 0.3rem;
}

.icons--container {
  display: flex;
  gap: 10px;
}

.icons--container a {
  color: #e0e0e0;
}

.icons--container a:hover {
  color: #ffff;
}

.header--profile-photo {
  height: 400px;
}

/* About */

.about--section {
  background: #222222;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.about--container {
  width: 78vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about--container h1 {
  font-size: 3.5rem;
  margin-top: 20px;
  font-weight: 900;
  color: #FF5471;
}

.about--container span {
  color: #FF5471;
}

.about--container p {
  font-size: 1.5rem;
  font-weight: 900;
  color: #e0e0e0;
}

.about--subtitle {
  width: 90%;
}

.about__subtitle--goal {
  width: 50%;
}

.icons--container {
  padding-top: 20px;
}

.icons--container ul {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.icons--container ul li {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons--container ul li img {
  height: 5rem;
}

.icons--container ul li p {
  color: #e0e0e0;
  font-size: 0.8rem;
  font-weight: 800;
  visibility: hidden;
  margin-top: 5px;
}

.icons--container ul li:hover p {
  visibility: visible;
}

/* Responsive */

@media screen and (max-width: 1200px) {

  * {
    overflow-y: visible;
  }

  /* Nav */

  nav {
    position: fixed;
  }

  .nav--items {
    display: none;
  }
  .hamburguer--icon {
    display: flex;
  }

  /* Header */

  .header--container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header__section--title {
    font-size: 4rem;
  }

  .header--profile-photo {
    height: 350px;
  }

  /* About */

  .about--container {
    margin-top: 10vh;
  }

  .about__subtitle--goal {
    width: 100%;
  }
  

}

@media screen and (max-width: 1025px) {

  /* Header */

  .header__section--title {
    font-size: 4rem;
  }

  .header--profile-photo {
    height: 300px;
  }

  .section--subtitle {
    font-size: 1.4rem;
    width: 30rem;
  }

  /* About */

  .about--container {
    overflow-y: visible;
    gap: 0px;
  }


  .icons--container {
    flex-wrap: wrap;
  }

  .icons--container ul {
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
  }

  .about--container {
    margin-left: 5rem;
  }

  .about--container {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    gap: 5px;
  }

  .about--container h1 {
    font-size: 2.5rem;
  }

  .about--subtitle {
    font-size: 1.5rem;
    width: 90%;
  }

  .about__subtitle--goal {
    font-size: 1.5rem;
    width: 90%;
  }
   
}

@media screen and (max-width: 801px) {

  * {
    overflow-y: hidden;
  }


  /* Header */

  .header--container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header__section--title {
    width: 21rem;
  }

  .section--subtitle {
    font-size: 1.2rem;
    width: 21rem;
  }

  .header--profile-photo {
    height: 250px;
  }

  /* About */

  .about--container {
    height: 100%;

  }
  .about--section {
    height: 100vh;
  }
  
}

@media screen and (max-width: 600px) {

  * {
    overflow-y: visible;
  }

  /* Nav */

  .nav--title {
    width: 30rem;
    margin-left: 2.5rem;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .hamburguer--icon {
    height: 40px;
    margin-right: 2rem;
  }

  /* Header */

  .header--container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header__section--title {
    width: 15rem;
    font-size: 3rem;
  }

  .section--subtitle {
    font-size: 1.2rem;
    width: 15rem;
  }

  .header--profile-photo {
    height: 200px;
  }

  /* About */

  .about--section {
    height: 100%;
  }

  .about--container {
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 480px) {

  /* Nav */

  .nav--title {
    margin-right: 0rem;
    margin-left: 3rem;
    font-size: 1.4rem;
  }

  .hamburguer--icon {
    width: 80px;
    height: 45px;
    margin-right: 2rem;
  }

  /* Header */

  .header--profile-photo {
    display: none;
  }

  .header--container {
    height: 70vh;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .section--subtitle {
    font-size: 1.2rem;
    width: 21rem;
  }

  .header__section--title {
    width: 15rem;
  }
}

@media screen and (max-width: 320px) {
  /* Nav */

  .nav--title {
    margin: 0rem;
    margin-left: 1rem;
    font-size: 1.1rem;
  }

  .hamburguer--icon {
    width: 80px;
    height: 45px;
    margin-right: 1rem;
  }

  /* Header */

  .section--subtitle {
    font-size: 1.2rem;
    width: 15rem;
  }

  .header__section--title {
    width: 15rem;
  }
}
