* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla";
  overflow-y: hidden;
}

/* Nav */

Nav {
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #222222;
}

.nav--title {
  color: #e0e0e0;
  margin-right: 14rem;
  font-weight: 900;
  font-size: 1.5rem;
}

.nav--title a:hover {
  color: #ffff;
  cursor: pointer;
}

.nav--items {
  margin-left: 5rem;
  display: flex;
  gap: 3rem;
}

.nav--link {
  list-style: none;
}

.nav--link a {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: #e0e0e0;
}

.nav--link a:hover {
  color: #ff5471;
}

.nav--link .active {
  color: #ff5471;
}

.hamburguer--icon {
  display: none;
  margin-right: 3rem;
  cursor: pointer;
}

@keyframes menu-toggle {
  from {
    margin-bottom: 120vh;
    display: none;
  }
  to {
    margin: 0;
    display: flex;
  }
}

.active-menu {
  animation-name: menu-toggle;
  animation-duration: 0.3s;
  justify-content: flex;
  align-items: flex-end;
  flex-direction: column;
  display: flex;
  background: #333333;
  height: 100%;
  width: 100%;
}

.mobile--menu__items {
  list-style: none;
  background: #333333;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu--links a {
  font-size: 2rem;
  display: flex;
  color: #e0e0e0;
  text-decoration: none;
}

.menu--links a:hover {
  color: #ff5471;
}

.menu--links .active {
  color: #ff5471;
}

.close--menu {
  margin: 2rem 2rem 0 0;
  cursor: pointer;
  display: flex;
  align-self: flex-end;
}

@keyframes menu-close {
  from {
    margin-bottom: 0rem;
    display: flex;
  }
  to {
    margin-bottom: 120vh;
    display: none;
  }
}

.close {
  margin-bottom: 110vh;
  animation-name: menu-close;
  animation-duration: 0.3s;
  background: #ffff;
  position: absolute;
}

/* Header Page */

header {
  background: #222222;
  width: 100%;
  height: 100vh;
}

.header--container {
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header__section--title {
  color: #ff5471;
  font-weight: 900;
  font-size: 5rem;
  width: 25rem;
  margin-bottom: 0.3rem;
}

.section--subtitle {
  color: #e0e0e0;
  font-size: 1.9rem;
  width: 40rem;
  margin-bottom: 0.3rem;
}

.icons--container {
  display: flex;
  gap: 10px;
}

.icons--container a {
  color: #e0e0e0;
}

.icons--container a:hover {
  color: #ffff;
}

.header--profile-photo {
  height: 400px;
}

/* About */

.about--section {
  background: #222222;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.about--container {
  height: 100vh;
  width: 78vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.about--container h1 {
  font-size: 3.5rem;
  margin-top: 20px;
  font-weight: 900;
  color: #ff5471;
}

.about--container span {
  color: #ff5471;
}

.about--container p {
  font-size: 1.5rem;
  font-weight: 900;
  color: #e0e0e0;
}

.about--subtitle {
  width: 90%;
}

.about__subtitle--goal {
  width: 50%;
}

.icons--container {
  padding-top: 10px;
}

.icons--container ul {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.icons--container ul li {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons--container ul li img {
  height: 5rem;
}

.icons--container ul li p {
  color: #e0e0e0;
  font-size: 0.8rem;
  font-weight: 800;
  visibility: hidden;
  margin-top: 5px;
}

.icons--container ul li:hover p {
  visibility: visible;
}

/* Projects */

.container {
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  background: #222222;
}

main {
  width: 100vw;
  background: #222222;
  display: flex;
  flex-direction: column;
}

.project--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  gap: 50px;
}

.project--section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__container--info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.project__container--info p {
  width: 30vw;
  font-size: 1.5rem;
  font-weight: 600;
  color: #e0e0e0;
}

.project__container--info h1 {
  font-weight: 700;
  color: #ff5471;
}

.project--info {
  height: 300px;
  width: 450px;
  background: #333333;
}

.icon--container {
  gap: 20px;
  display: flex;
  width: 400px;
  text-align: center;
}

.icon--container p {
  width: 100px;
  font-size: 1rem;
}

.icon--container p a:hover {
  color: #ff5471;
}

.icon--container p a {
  color: #e0e0e0;
  text-decoration: none;
}

.icon {
  color: #ffff;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon:hover {
  color: #ff5471;
}

.project--stack {
  display: flex;
  gap: 10px;
}

/* Contact */

.contact--section {
  position: relative;
  flex-direction: row-reverse;
  display: flex;
  width: 100vw;
  height: 80vh;
}

.social__network--container {
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding-right: 30px;
  gap: 10px;
}

.social__network--container .icon {
  font-size: 36px;
}

.social__network--container a {
  color: #e0e0e0;
}

.social__network--container a:hover {
  color: #ff5471;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

form input {
  height: 50px;
  width: 450px;
  background: none;
  border: none;
  border-bottom: 1px solid #333333;
  text-align: start;
  color: #e0e0e0;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
}

.submit-button {
  cursor: pointer;
  background: #333333;
  color: #e0e0e0;
  border: none;
  border-radius: 6px;
  height: 40px;
  width: 120px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button:hover {
  color: #ffff;
}

form input::placeholder {
  font-size: 1rem;
  font-weight: 600;
  color: #e0e0e0;
}

.keep-in-touch__container h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ff5471;
}

.button--container {
  margin-top: 20px;
  padding-top: 20px;
  width: 450px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.button--container button {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: #e0e0e0;
}

.button--container button:hover {
  background: #ff5471;
  cursor: pointer;
  color: #e0e0e0;
  font-weight: 800;
}

.keep-in-touch__container {
  margin-top: 15vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  margin-left: 12%;
}

/* Footer */

footer {
  height: 10%;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}

footer a {
  cursor: pointer;
  text-decoration: none;
}

footer h1 {
  font-size: 1.5rem;
  color: #e0e0e0;
}

footer span {
  color: #ff5471;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  * {
    overflow-y: visible;
  }

  /* Nav */

  nav {
    position: relative;
  }

  .nav--items {
    display: none;
  }
  .hamburguer--icon {
    display: flex;
  }

  /* Header */

  .header--container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header__section--title {
    font-size: 4rem;
  }

  .header--profile-photo {
    height: 350px;
  }

  /* About */

  .about--section {
    background: #222222;
    height: 120vh;
  }
 

  .about--container {
    margin-top: 0vh;
  }

  .about__subtitle--goal {
    width: 100%;
  }

  /* Contact   */

  .contact--section {
    height: 80%;
  }
}

@media screen and (max-width: 1025px) {
  /* Header */

  .header__section--title {
    font-size: 4rem;
  }

  .header--profile-photo {
    height: 300px;
  }

  .section--subtitle {
    font-size: 1.4rem;
    width: 30rem;
  }

  /* About */

  .about--container {
    overflow-y: visible;
    gap: 0px;
  }

  .icons--container {
    flex-wrap: wrap;
  }

  .icons--container ul {
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
  }

  .about--container {
    margin-left: 5rem;
  }

  .about--container {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    gap: 5px;
  }

  .about--container h1 {
    font-size: 2.5rem;
  }

  .about--subtitle {
    font-size: 1.5rem;
    width: 90%;
  }

  .about__subtitle--goal {
    font-size: 1.5rem;
    width: 90%;
  }

  /* Projects */

  .project__container--info p {
    width: 30vw;
    font-size: 1rem;
    font-weight: 600;
    color: #e0e0e0;
  }

  .project--info {
    height: 300px;
    width: 450px;
    background: #333333;
  }

  .icon--container {
    gap: 20px;
    display: flex;
    width: 400px;
    text-align: center;
  }

  .icon--container p {
    width: 100px;
    font-size: 1rem;
  }

  /* Projects */

  .project--info {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 801px) {
  * {
    overflow-y: hidden;
  }

  /* Header */

  .header--container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header__section--title {
    width: 21rem;
  }

  .section--subtitle {
    font-size: 1.2rem;
    width: 21rem;
  }

  .header--profile-photo {
    height: 250px;
  }

  /* About */

  .about--container {
    height: 100%;
  }
  .about--section {
    height: 100vh;
  }

  /* Projects */

  .project--container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 0px;
  }

  .project__container--info p {
    width: 45vw;
    font-size: 1rem;
    font-weight: 600;
    color: #e0e0e0;
  }

  .project__container--info {
    text-align: center;
    gap: 20px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .project--info {
    margin-left: 0;
  }
  .icon--container {
    gap: 0px;
    display: flex;
    width: 300px;
    text-align: center;
  }

  .icon--container p {
    width: 130px;
  }
  .project--info {
    height: 300px;
    width: 500px;
  }

  .icon--container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 400px;
    text-align: center;
  }

  /* Contact */

  .contact--section {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 80vh;
  }

  .social__network--container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
  }

  .keep-in-touch__container {
    margin-top: 10vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  * {
    overflow-y: visible;
  }

  /* Nav */

  .nav--title {
    width: 30rem;
    margin-left: 2.5rem;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .hamburguer--icon {
    height: 40px;
    margin-right: 2rem;
  }

  /* Header */

  .header--container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header__section--title {
    width: 15rem;
    font-size: 3rem;
  }

  .section--subtitle {
    font-size: 1.2rem;
    width: 15rem;
  }

  .header--profile-photo {
    height: 200px;
  }

  /* About */

  .about--section {
    height: 100%;
  }

  .about--container {
    height: 100vh;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
  }

  /* Projects */

  .project--info {
    height: 250px;
    width: 400px;
  }

  .project__container--info p {
    width: 90vw;
    font-size: 1rem;
    font-weight: 600;
    color: #e0e0e0;
  }

  .icon--container p {
    width: 100px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  /* Nav */

  .nav--title {
    margin-right: 0rem;
    margin-left: 3rem;
    font-size: 1.4rem;
  }

  .hamburguer--icon {
    width: 80px;
    height: 45px;
    margin-right: 2rem;
  }

  /* Header */

  .header--profile-photo {
    display: none;
  }

  .header--container {
    height: 85vh;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .section--subtitle {
    font-size: 1.2rem;
    width: 21rem;
  }

  .header__section--title {
    width: 15rem;
  }

  /* About */

  .about--section {
    height: 100%;
  }

  .about--container {
    height: 150vh;
  }

  /* Projects */

  .project__container--info h1 {
    font-size: 2rem;
  }

  .project--info {
    height: 200px;
    width: 300px;
  }

  .project__container--info p {
    width: 70vw;
    font-size: 1rem;
    font-weight: 600;
    color: #e0e0e0;
  }

  .icon--container p {
    width: 100px;
    font-size: 1rem;
  }

  .project--stack {
    height: 36px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .icon {
    height: 30px;
  }

  /* Contact */

  footer h1 {
    font-size: 1rem;
  }

  form input {
    width: 300px;
  }

  .button--container {
    justify-content: space-around;
    gap: 0;
    width: 300px;
  }

  .button--container button {
    width: 140px;
  }

  .keep-in-touch__container h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 320px) {
  /* Nav */

  .nav--title {
    margin: 0rem;
    margin-left: 1rem;
    font-size: 1.1rem;
  }

  .hamburguer--icon {
    width: 80px;
    height: 45px;
    margin-right: 1rem;
  }

  /* Header */

  .section--subtitle {
    font-size: 1.2rem;
    width: 15rem;
  }

  .header__section--title {
    width: 15rem;
  }

  /* About */

  .about--container {
    height: 180vh;
  }

  /* Projects */

  .project--info {
    height: 150px;
    width: 300px;
  }

  .project__container--info p {
    width: 7=80vw;
    font-size: 1rem;
    font-weight: 600;
    color: #e0e0e0;
  }

  .icon--container p {
    width: 100px;
    font-size: 1rem;
  }

  .project__container--info h1 {
    font-size: 1.5rem;
  }

  .project--info {
    height: 150px;
    width: 250px;
  }

  /* Contact */

  .keep-in-touch__container h1 {
    font-size: 2.5rem;
  }
}
